.modal {

  height: 96.5vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  font-family: 'Press Start 2P', sans-serif;


}

.modalContent {
  background-color: #000000;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

button {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'Press Start 2P', sans-serif;
  color: greenyellow;
  background-color: #272626;
}

h2 {
  color: greenyellow
}